- Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

Save Data
- Drop the row where AreaName is 'World'
- Save the dataset to a new file AustraliaFiltered.xlsx

In [1]:
# Read sheet "Australia by Residence" from Australia.xlsx
# Ignore the first 20 rows.
# List all Column and Row indexes(Print their names)

import numpy as np  
import pandas as pd
AustraliaData = pd.read_excel('Australia.xlsx',sheet_name=1,header=20)   
print(AustraliaData.columns)
print(list(AustraliaData.index))

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447]

In [2]:
# Dataset Analysis
# Describe the dataset
# Use values and index attributes on both Row and Column Indexes
# Check Shape, Datatypes and other attributes and observe the datatype of each columns' data

import numpy as np  
import pandas as pd
AustraliaData = pd.read_excel('Australia.xlsx',sheet_name=1,header=20) 
print(AustraliaData.describe())

print()
print(AustraliaData.columns.values)
print()
print(AustraliaData.index.values)

print()
print("Shape",AustraliaData.shape)
print()
print(AustraliaData.dtypes)

             AREA          REG         DEV           1980           1981  \
count  448.000000   448.000000  448.000000     448.000000     448.000000
mean   912.955357  1208.040179  902.642857    1228.348214    1331.651786
std     15.019682  1109.669573    9.165500   10145.734028   11349.461111
min    903.000000   905.000000  901.000000       0.000000       0.000000
25%    903.750000   914.000000  902.000000       0.000000       0.000000
50%    908.000000   922.000000  902.000000      10.000000      10.000000
75%    909.000000   926.000000  902.000000     130.000000     140.000000
max    999.000000  5501.000000  999.000000  184290.000000  212690.000000

                1982           1983           1984           1985  \
count     448.000000     448.000000     448.000000     448.000000
mean     1283.660714    1134.285714    1115.580357    1187.455357
std     10643.064898    8965.372332    8805.489574    9545.180624
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%        10.000000      10.000000      10.000000      10.000000
75%       160.000000     150.000000     162.500000     162.500000
max    195200.000000  153570.000000  153530.000000  172550.000000

                1986  ...           1999           2000           2001  \
count     448.000000  ...     448.000000     448.000000     448.000000
mean     1290.803571  ...    2122.946429    2337.857143    2555.982143
std     10588.914966  ...   16727.854191   18384.758383   20198.020921
min         0.000000  ...       0.000000       0.000000       0.000000
25%         0.000000  ...       0.000000      10.000000      10.000000
50%        10.000000  ...      30.000000      35.000000      40.000000
75%       182.500000  ...     362.500000     372.500000     360.000000
max    196690.000000  ...  289870.000000  317560.000000  356410.000000

                2002           2003           2004           2005  \
count     448.000000     448.000000     448.000000     448.000000
mean     2611.294643    2738.125000    2514.241071    2545.357143
std     20573.219253   21745.929611   19834.528214   20203.441660
min         0.000000       0.000000       0.000000       0.000000
25%        10.000000      10.000000      10.000000      10.000000
50%        45.000000      50.000000      50.000000      50.000000
75%       390.000000     420.000000     400.000000     410.000000
max    361990.000000  388450.000000  350990.000000  363470.000000

                2006           2007           2008
count     448.000000     448.000000     448.000000
mean     2709.866071    3023.348214    3376.116071
std     21786.641444   24542.748186   27950.462893
min         0.000000       0.000000       0.000000
25%        10.000000      10.000000      10.000000
50%        60.000000      70.000000      75.000000
75%       455.000000     480.000000     512.500000
max    402210.000000  460650.000000  535970.000000

[8 rows x 32 columns]

['Type' 'Coverage' 'OdName' 'AREA' 'AreaName' 'REG' 'RegName' 'DEV'
 'DevName' 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013]

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447]

Shape (448, 43)

Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009        object
2010        object
2011        object
2012        object
2013        object
dtype: object

In [3]:
# Drop
# - Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
# - Find columns for which more than 50% data is missing and drop them (Column Deletion)
# - Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
#     Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

import numpy as np  
import pandas as pd
AustraliaData = pd.read_excel('Australia.xlsx',sheet_name=1,header=20) 
AustraliaData = AustraliaData[AustraliaData['Type'] == "Immigrants"] 
print(AustraliaData['Type'])

print()
AustraliaData = AustraliaData.dropna(thresh=AustraliaData.shape[0]*0.50,how='all',axis=1)
print(list(AustraliaData))

print()
AustraliaData.drop(['Type', 'Coverage', 'AREA', 'REG', 'DEV'], axis = 1, inplace=True) 
print(list(AustraliaData))

224    Immigrants
225    Immigrants
226    Immigrants
227    Immigrants
228    Immigrants
          ...
443    Immigrants
444    Immigrants
445    Immigrants
446    Immigrants
447    Immigrants
Name: Type, Length: 224, dtype: object

['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName', 'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]

['OdName', 'AreaName', 'RegName', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]

In [5]:
# Rename
# - Rename columns :OdName -> Country; RegName -> Region
# - Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
# - Find Total number of immigrants for all years, and create a new column Total in data Frame

AustraliaData = AustraliaData.rename(columns={'OdName':'Country','RegName':'Region'})
print(list(AustraliaData))

print()
AustraliaData.rename(columns=str, inplace=True)
print(list(AustraliaData))

print()
AustraliaData['Total']=AustraliaData.iloc[:,4:39].sum(axis=1)

['Country', 'AreaName', 'Region', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]

['Country', 'AreaName', 'Region', 'DevName', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']

In [ ]:
# Head Tail Sort

# Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)

# find something weird in the dataset ? Delete that row 'world'
# Analyze last few rows also in the sorted result (Don't sort inplace)



# Check if these have all unique values or not:

# countries
# continents (AreaName)
# country continent pairs
# Find countries for which no of immigrants for all years is 0
# Find count of above countries
# Find countries for which no of immigrants is 0 for any year